body, html {
	  height: 100%;
	  color: black;
	  font-color: black;
	  font-family: 'Roboto', sans-serif;
	  margin: 0em;
	  font-size: 28px;
}

p {
  width: 80%;
  text-align: right;
  margin: 0.5em;
}

a {
  color: black;
}
img {
	  width: 70%; 
	  height: auto;
}
	
.textContent {
	background-color: white;
	font-size:28px;
}

.parallax { 
	  /* The image used */
	  background-image: url("res-lines.png");

	  /* Full height */
	  height: 10%; 

	  /* Create the parallax scrolling effect */
	  background-attachment: fixed;
	  background-position: top;
	  background-repeat: no-repeat;
	  background-size: cover; 
}

	
@media screen and (max-width: -width: 768px) {
	.parallax {
		/* Full height */
		height: 40%; 
	}

	.textContent {
		font-size:14px;
	}

	

}
