html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: 0;
}

body {
  min-width: 320px;
  max-width: 800px;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-weight: 200;
  color: #ddd;
  padding: 1% 20px;
  margin: 0 auto;
  hyphens: auto;
  -webkit-hyphens: auto;
  background-color: #000;
}

nav {
  position: absolute;
  left: 5%;
  top: 49%;
  margin-top: -11.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 3.8vw;
  font-weight: 400;
  color: #fff;
}

nav a,
nav a:link,
nav a:active {
  display: inline-block;
  margin: 0 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 1;
}

nav a:hover {
  border-color: #fff;
  opacity: 0.333;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  border-top: 1px solid #ddd;
  font-size: 1em;
  color: inherit;
  text-align: right;
  margin-top: 20px;
}

footer span,
footer a,
footer a:link,
footer a:active {
  margin: 2px 5px;
  text-decoration: none;
  font-size: 1.1em;
}

h1, h2, h3, h4 {
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0.1em;
  text-transform: uppercase;
}

h2 {
  margin-top: 0.6em;
  font-size: 1.2em;
}

h3 {
  margin-top: 0.6em;
  font-size: 1em;
}

h2.map-title {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
}

p {
  margin: 0.2em 0;
}

em {
  font-style: normal;
  font-weight: 400;
}

a,
a:link,
a:active {
  font-weight: 400;
  text-decoration: underline;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style-type: circle;
  padding-left: 2em;
}

span.work {
  font-style: normal;
  font-weight: 400;  
}

#poster {
  position: relative;
  padding: 0;
  margin-top: 10px;
  background-color: #000;
}

#poster-bg-night,
#poster-bg-day {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  border-radius: 15px;
  background-size: 100%;
  opacity: 1;
  animation-duration: 15s;
  animation-name: poster-bg-fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-direction: normal;
}

#poster-bg-night {
  position: absolute;
  animation-delay: 7.5s;
  opacity: 0;
}

@keyframes poster-bg-fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.8;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#poster-subtitle {
  position: absolute;
  left: 0;
  top: 2.5%;
  width: 100%;
  /* margin-bottom: 0.6em; */
  font-size: 3.1vw;
  font-weight: 300;
  text-align: center;
  z-index: 1;
}

#poster-title-bg {
  position: absolute;
  left: 5.5%;
  top: 9%;
  width: 69%;
  height: 10.5%;
  padding: 2.1% 10%;
  background-color: #fff;
  border-radius: 15px;
}

#poster-title {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

#poster-year {
  display: block;
  position: absolute;
  left: 59%;
  top: 27%;
  width: 34%;
  z-index: 1;
}

#poster-date {
  display: block;
  position: absolute;
  left: 6%;
  bottom: 13%;
  width: 33%;
  z-index: 1;
}

#poster-location {
  position: absolute;
  left: 6%;
  bottom: 5%;
  font-size: 3.8vw;
  font-weight: 300;
  z-index: 1;
}

#sm-links {
  position: absolute;
  right: 1%;
  bottom: 0%;
  display: flex;
  flex-direction: row;
}

#tickets-button {
  position: relative;
}

#tickets-link {
  padding: 0 5px;
  margin: 0 0.1em;
  border-style: solid;
  border-radius: 0.4em;
  border-width: 2px;
  text-decoration: none;
}

#tickets-link:hover {
  opacity: 1;
  color: black;
  background-color: white;
}

#tickets-button a:hover {
  opacity: 1;
}

#tickets-arrow {
  position: absolute;
  left: 25px;
  top: -84px;
  transform: rotate(-70deg);
  animation-name: spin;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  width: 120px;
}

#tickets-arrow:hover {
  filter: contrast(200%);
}

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }

  98% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(675deg);
  }
}

.sm-icon {
  width: 40px;
  padding: 10px 7px;
  filter: grayscale(01);
  opacity: 0.8;
}

#sm-links > a:hover {
  opacity: 0.8;
}

.sm-icon:hover {
  filter: grayscale(0);
  opacity: 1;
}

ul.address,
#program ul {
  margin: 0;
  list-style-type: none;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  padding-inline-start: 1.5em;
  text-indent: -0.5em;
}

#program ul li::marker {
  content: "";
}

#program ul li::before {
  content: "";
}

#info p {
  margin-top: 0.5em;
  font-size: 1em;
}

#info p em {
  font-weight: 500;
}

#credits {
  color: #000;
  background-color: #fff;
  font-weight: 300;
}

#credits a {
  font-weight: 500;
}

#credits a,
#credits a:link,
#credits a:active {
  text-decoration: none;
}

#map-container a:hover {
  opacity: 1;
}

.map-thumb {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.condensed {
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
}

.container {
  position: relative;
  margin-bottom: 1em;
  padding: 20px;
  background-color: black;
  font-size: 1.2em;
}

.container.framed {
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 15px;
}

.container.fixed {
  height: auto;
}

.container.fixed>#poster-title-bg {
  position: relative;
  left: 0;
  top: 0;
  width: 80%;
  height: auto;
  margin: 0;
}


.container.margin {
  margin-bottom: 4em;
}

.artist-descr {
  position: relative;
  margin-top: 3em;
  min-height: 200px;
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  text-align: justify;
}

.artist-descr.hidden {
  display: none;
}

.container .artist-descr:first-of-type {
  margin-top: 2.2em;
}

.artist-name {
  position: absolute;
  top: -1.4em;
  width: fit-content;
  clear: both;
  min-width: 25%;
  text-align: center;
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

.artist-name.left {
  left: 0;
  box-sizing: border-box;
  padding-right: 50px;
}

.artist-name.right {
  right: 0;
}

.artist-portrait {
  border-radius: 50%;
  width: 25%;
  height: auto;
  /* filter: grayscale(1); */
  shape-outside: circle();
}

.artist-portrait.left {
  float: left;
  margin: 1rem 1rem 1rem 0;
}

.artist-portrait.right {
  float: right;
  margin: 1rem 0 1rem 1em;
}

a.artist-url {
  margin-top: 0;
  font-weight: 300;
  text-decoration: none;
}

a.artist-url:before {
  content: "→ ";
}

.work-descr {
  position: relative;
  min-height: 300px;
  margin-top: 1.5em;
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  text-align: justify;
}

.work-descr.hidden {
  display: none;
}

.container .work-descr:first-of-type {
  margin-top: 0.5em;
}

.work-title {
  min-width: 200px;
  clear: both;
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  font-style: italic;
}

.work-title.left,
.work-subtitle.left {
  text-align: left;
  box-sizing: border-box;
  padding-right: 50px;
}

.work-title.right,
.work-subtitle.right {
  text-align: right;
}

.work-subtitle {
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.work-image {
  width: 45%;
  border-radius: 50%;
  height: auto;
  /* filter: grayscale(1); */
  shape-outside: circle();
}

.work-image.left {
  float: left;
  margin: 1em 1em 1em 0;
}

.work-image.right {
  float: right;
  margin: 1rem 0 1rem 1em;
}

.work-image.smaller {
  width: 200px;
}

.work-image.no-margin {
  margin: 0;
}

.aux {
  font-size: 0.9em;
  font-weight: 200;
}

.aux.break {
  display: inline;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
}

.logo-container p {
  position: absolute;
  left: 0;
  top: -1em;;  
}

.logo-link {
  font-weight: 500;
  text-decoration: none;
  margin: 2% 5%;
}

.logo {
  height: 7.7vw;
}

.logo.smaller {
  height: 7vw;
}

.logo.bigger {
  height: 9vw;
}

/* hightlighted text: 
	- Safari >=1.1, Opera >=9.5, IE9
	- Firefox >=1 */
::selection {
  background: #aaa;
}

::-moz-selection {
  background: #aaa;
}

@media (min-width: 840px) {
  #poster-subtitle {
    font-size: 26px;
  }

  #poster-location {
    font-size: 32px;
  }

  #logo-container {
    flex-wrap: wrap;
  }

  nav {
    font-size: 31.8px;
    margin-top: -94px;
  }

  .logo {
    height: 65px;
  }

  .logo.smaller {
    height: 59px;
  }

  .logo.bigger {
    height: 75px;
  }

}

@media (max-width: 720px) {
  .container {
    padding: 10px;
  }

  .description {
    font-size: 1em;
  }

  .logo-container {
    justify-content: center;
  }

  .logo-link {
    margin: 13px 32.7px;
  }

  .logo {
    height: 55px;
  }

  .logo.smaller {
    height: 50.5px;
  }

  .logo.bigger {
    height: 64.6px;
  }

  .artist-portrait {
    width: 150px;
  }
}

@media (max-width: 560px) {
  nav {
    font-size: 21.2px;
    margin-top: -66px;
  }

  .sm-icon {
    width: 40px;
    padding: 10px 7px;
  }

  .aux.break {
    display: block;
  }

  span.optional {  
    display: none;
  }
}

@media (max-width: 360px) {
  #poster-subtitle {
    font-size: 10.3px;
  }

  #poster-location {
    font-size: 13.6px;
  }

  .work-image {
    width: 150px;
  }
}