body {
  margin: 0;
  font-family: "Avenir Next", Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
}

.title {
  font-family: "ISL_Andvari", "Avenir Next", Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0em;
}

.subtitle {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: #fff;
}

.date {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  color: #fff;
}

.descr {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}

.minor {
  color: #999;
  font-weight: 300;
}

.heading {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 0.5em;
  color: #fff;
}

.doit {
  margin-top: 1em;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #00C853;
}

#container {
  text-align: left;
  width: fit-content;
  max-width: fit-content;
  padding: 2em;
}

#logo {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 32em;
  max-width: 100%;
}

#footer {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 1em;
}

em {
  font-weight: 600;
}

ul {
  margin: 0;
  padding-inline-start: 1em;
}

li {
  font-size: 1.2em;
}

li::marker {
  content: none; 
}

a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}

a::before {
  content: "→ ";
}