body {
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6em;
    color: black;
    background-color: white;
    overflow-x: hidden;

}
p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}

footer {
    color: white;
    /*  padding: 40px 30px 30px 0px;*/
    position: relative;
    overflow: hidden;
    width: 100%;
}

*:focus {
    outline: none;
}

summary {
    font-weight: bold;
}

.english, .german {
}
.germany, .america {
    cursor: pointer;
    transition: 0.2s ease;
}
.germany:hover,
.america:hover {
    background-color: black;
    color: white;
}
.language_hidden {
    width: 0px !important;
    height: 0px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0px !important;
}
.display_none {
    display: none !important;
}

.language_switch {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 15px;
    margin-top: 0px;
    top: 40px;
}
.language_switch img {
    margin: 10px;
    cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.select {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  -webkit-transition: .2s;
}

.select:before {
  position: absolute;
  content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition-property: transform;
  transition-duration: 0.2s;
}

input:focus + .select {
  box-shadow: 0 0 1px #888;
}

input:checked + .select:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}


/* Rounded sliders */
.select.round {
  border-radius: 34px;
}

.select.round:before {
  border-radius: 50%;
}

.right {
    float: left;
    color: #fff;
    width: 50%;
    text-align: right;
    margin-top: 10%;
}

.left {
    float: left;
    color: #7a7a7a;
    width: 50%;
    text-align: right;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: sc§ale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-top: 10%;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.welcome_text {
    order: 2;
    width: 64%;
    margin-top: -140px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 3;
    padding: 0px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 10%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 10%, rgba(255,255,255,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 10%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); 
}

.welcome_text p {
    text-align: justify;
    hyphens: auto;
}

.ticket_container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    opacity: 0;
}

.description_container {
    margin: 0px;
    position: relative;
    text-align: left;
    text-align: center;
    z-index: 1;
    padding: 40px 18%;
    position: relative;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 63%, rgba(255,255,255,0) 83%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 63%,rgba(255,255,255,0) 83%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 63%,rgba(255,255,255,0) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); 
}

.description_container p {
    text-align: justify;
    hyphens: auto;
}

.artist_container {
    padding: 0px 5%;
    z-index: 5;
}

.artist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 80px 0px;
}
.artist_image {
    width: 42%;
}
.artist_image img {
    width: 100%;
    height: auto;
}

.artist_text {
    width: 55%;
    margin-top: 0px;
    font-size: 1.1rem;
    text-align: justify;
    hyphens: auto;
    z-index: 3;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); 
}

.artist_link {
    text-decoration: none;
    color: black;
}

.artist_link:hover {
    filter: opacity(50%);
}

.artist_link:visited {
    filter: opacity(50%);
    color: black;
}

.artist_link:before {
    display: inline-block;
    content: "→";
    width: 24px;
}

.program_container {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    padding-right: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
    z-index: 1;
}

.social_container {
    background-color: #111;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
}

.social_ico {
    margin-right: 20px;
}
.social_ico a {
    margin: 0px;
}
.social_ico img {
    z-index: 1;
    margin-top: 0.5em;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.social_ico img:hover {
    filter: grayscale(0%);    
}

.footer_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
    background-color: #111;
}

footer h1 {
  margin-block-start: 1em;
  margin-block-end: 0;
  font-size: 1em;
  font-weight: normal;
  color: #a8a8a8;
}

.info_footer {
    padding-top: 0%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    margin: 0px;
    /*border-top-style: solid;*/
    border-top-width: 1px;
    min-width: 300px;
}

.info {
    text-align: left !important;
}

.info-link {
    display: block;
    color: white;
}
.info-link:hover {
    filter: opacity(50%);
}

.info-link:before {
    display: inline-block;
    content: "→";
    width: 24px;
}

.info {
    text-align: left !important;
}

.partner_footer {
    padding-top: 0%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    margin: 0px;
    /*border-top-style: solid;*/
    border-top-width: 1px;
}
.logorama {
    display: flex;
    flex-wrap: wrap;
}

.partner {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    vertical-align: middle;
    z-index: 2;
}
.partner img {
    width: 100%;
}

.partner_logo {
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.partner_logo:hover {
    filter: grayscale(0%);
}
.partner_logo_white {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.partner_logo_white:hover {
    opacity: 0.66;
}

.partner_link {
    text-decoration: none;
    color: white;
}

.partner_link:hover {
    filter: opacity(50%);
}

.partner_link:visited {
    filter: opacity(50%);
    color: white;
}

.footer_menu {    
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    background-color: #111;
}

.text_left {
    order: 1;
}
.text_right {
    order: 2;
}
.pic_left {
    order: 1;
}
.pic_right {
    order: 2;
}

#strings {
    position: absolute;
    top: 2253px;
    z-index: 0;
}

#strings img {
    position: absolute;
    width: 20px;
    height: auto;
    pointer-events: none;    
}

#sOne {
    left: 80px;
    top: 150px;
}

#sTwo {
    left: 1140px;
    top: 445px;
}

#sThree {
    left: 100px;
    top: -1900px;
}

#sFour {
    left: 1340px;
    top: -60px;
}

#sFive {
    left: 55px;
    top: -365px;
}

#sSix {
    left: 1000px;
    top: -1616px;
    z-index: 0;
}

#sSeven {
    left: 15px;
    top: -600px;
}

#sEight {
    left: 1400px;
    top: -765px;
}

#sOneB {
    top: -2247px;
    left: 1500px;
}

#sTwoB {
    top: -1961px;
    left: 298px;
}

#sThreeB {
    margin-top: -1500px;
    left: 1385px;
    z-index: 0;
}
#sFourB {
    margin-top: -2200px;
    left: 1200px;
}

#sFiveB {
    margin-top: -1900px;
    left: 1500px;
}

#sSixB {
    margin-top: -2102px;
}

#sSevenB {
    top: -1900px;
    left: 1300px;
}

#sEightB {
    top: -1568px;
    left: 400px;
}

.moved {
    margin-right: 0px !important;
}

.hinweis_container {
    position: fixed;
    bottom: 0;
    height: 30px;
    background-color: #111;
    color: white;
    opacity: 0.8;
    padding: 0;
    z-index: 9999 !important;
}

.hinweis {
    position: relative;
    text-align: left;
    white-space: nowrap;
    color: white;
    font-size: 18px;
    width: 2000px;
    animation: laufschrift 20s linear infinite;
 }

@keyframes laufschrift {
    0% { transform: translate(100%, 0); }
    100% { transform: translate(-2000px, 0); }
}

.up:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 2px 6px #333;
    background-color: white;
}

.up {
    position: fixed;
    bottom: 24px;
    right: 0;
    width: 27px;
    height: 24px;
    margin: 20px;
    display: none;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 9px 7px;
    border: solid 1px rgb(115, 106, 131);
    transition: .5s ease;
}

.logo_container {
    order: 1;
    width: 35%;
    z-index: 3;
}

.Festivallogo {
    width: 100%;
}

.banner {
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 3.8rem;
    margin-left: 0;
    padding: 1.1pc;
    margin-top: 34px;
    z-index: 4;
    position: absolute;
}

.fat_orange {
    color: #f69b70;
    font-weight: 600;
    background-color: black;
}

.fat_yellow {
    color: #f1e911;
    font-weight: 600;
    background-color: black;
}

.fat_brown {
    color: #72471c;
    font-weight: 600;
}

.fat_purple {
    color: #882471;
    font-weight: 600;
}

.fat_blue {
    color: #40b9ea;
    font-weight: 600;
    background-color: black;
}

.fat_red {
    color: #e41e25;
    font-weight: 600;

}

.sperre,
.sperre_mobile {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    z-index: -1;
}

.sperre_mobile {
    display: none;

}

.helpers {
    width: 50%;
    line-height: 25px;
}

.flex_cont {
    display: flex;
    align-items: first baseline;
}

summary {
    padding: 20px;
    border: 2px solid black;
}
summary:hover {
    cursor: pointer;
}
details {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}
.donators {
    margin-right: 150px;
}

.program_info {
    margin-block-start: -20px;
    padding-inline-start: 50px;
    font-size: 90%;
    color: #ccc;
}

.program_list {
    list-style-type:none;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    margin-bottom: 20px;
}

.program_list .time {
    text-align: right;
    vertical-align: top;
    padding-right: 0px;
    color: #777;
    border-right-style: none;
    border-right-width: 1px;
    border-right-color: #777;
}
.program_list .act {
    padding-left: 5px;
}

.program_descr {
    color: #777;
}
.program_descr:before {
    content: "     ";
}

.workshop_descr {
    color: #999;
    line-height: 1.3em;
    padding-top: 6px;
}

a.workshop_descr {
    color: #eee;
    line-height: 1.3em;
}

.ticket_banner {
    background-color: #ee9936;
    color: black;
    margin: 0px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.1em;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.ticket_banner:hover {
    box-shadow: 0 0px 20px #323232;
}
p.ticket_banner {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.2s;
    transition-timing-function: ease;
    background-color: #000;
    pointer-events: none;
}
.visible {
    opacity: 0.8;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

.popup_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.popup {
    position: absolute;
    box-sizing: border-box;
    top: auto;
    bottom: 50px;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, 0%);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
    color: #eee;
    padding: 20px;
    z-index: 999;
    pointer-events: none;
}

.popup h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-block-start: 1.5em;
    margin-block-end: 0;
}

.ticket_popup {
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, 0%);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
    color: #111;
    background: white;
    padding: 20px;
    z-index: -1;
    pointer-events: auto;
}

.ticket_popup_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
}

.opened {
    opacity: 1 !important;
    transition: opacity 1.2s ease;
    z-index: 999;
}

#agb_body {
    padding: 20px;
}
#agb_head {
    font-size: 1.5em
}

#payment_method_disclaimer_prepaid {
    color: whitesmoke !important;
}
.vertical-centered-fl {
    color: whitesmoke !important;
}

@media screen and (max-width:1400px) {
    .banner {
        font-size: 2.2rem;
    }
    #sThree {
        left: 200px;
        top: -1686px;
    }

    #sSix {
        left: 790px;
        top: -1300px;
    }

    #sEight {
        left: 1200px;
    }

    #sFour {
        left: 1000px;
    }

    #sTwo {
        left: 1100px;
    }
}

@media screen and (max-width:1300px) {
    .banner {
        font-size: 2.2rem;
        margin-top: 10px;
    }
    #sThree {
        left: 500px;
        top: -1586px;
    }

    #sSix {
        left: 390px;
    }

    #sEight {
        left: 1000px;
    }

    #sFour {
        left: 900px;
    }

    #sTwo {
        left: 800px;
    }
}

@media screen and (max-width:1200px) {
    .banner {
        font-size: 2.2rem;
    }
    #sThree {
        top: -1500px;
        left: 80px;
    }

    #sSix {
        top: -1000px;
        left: 600px;
    }

    #sEight {
        left: 1100px;
    }

    #sFour {
        left: 1100px;
    }

    #sTwo {
        left: 1000px;
    }

    #sOne {
        top: 200px;
    }

    #sFive {
        top: -300px;
    }
}

@media screen and (max-width:1145px) {
    .banner {
        font-size: 1.5rem;
        padding: 5px;
        background-color: rgba(0,0,0,0.5);
    }
    #sEight {
        left: 950px;
    }

    #sFour {
        left: 940px;
    }

    #sOne {
        left: 70px;
    }
}

@media screen and (max-width:1024px) {
    .banner {
        font-size: 1.2rem;
    }
    #sThree {
        top: -1350px;
    }

    #sFour {
        left: 900px;
    }

    #sTwo {
        left: 850px;
    }

    #sEight {
        left: 930px;
        top: -600px;
    }

    #sOne {
        left: 70px;
    }
}

@media screen and (max-width:960px) {
    #sEight {
        top: -500px;
        left: 800px;
    }

    #sFour {
        left: 750px;
    }

    #sTwo {
        left: 700px;
    }

    #sSix {
        top: -900px;
        left: 550px;
    }

    #sThree {
        top: -1300px;
    }
}

@media screen and (max-width: 850px) {
    .partner_logo {
        filter: grayscale(0%);
    }
    .social_ico img {
        filter: grayscale(0%);
    }

    .welcome_text {
        order: 2;
        width: auto;
        margin-top: -140px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .description_container {
      padding-left: 40px;
      padding-right: 40px;
    }

    .artist {
        flex-direction: column;
    }

    .text_left, .text_right, .pic_left, .pic_right {
        order: unset;
        width: 100%;
    }

    .text_left, .text_right {
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner {
        font-size: 1.2rem;
        background-color: rgba(0,0,0,0.5);
    }
    #sFour {
        left: 700px;
    }

    #sEight {
        left: 650px;
    }

    #sThree {
        top: -1380px;
    }

    #sSix {
        left: 500px;
    }
    .close {
        z-index: 20;
        right: 15px;
        top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .display_no_mobile {
        display: none;
    }
    .banner {
        font-size: 1.2rem;
        background-color: rgba(0,0,0,0.5);
        margin-top: 420px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .switch {
        width: 37px;
        height: 22px;
    }
    .select::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 3px;
        bottom: 4px;
    }
    input:checked + .select:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }

    #strings {
        display: none;
    }

    .sperre {
        display: none;
    }

    .sperre_mobile {
        display: block;
        width: 100%;
    }

    #sEight {
        left: 550px;
    }

    #sFour {
        left: 600px;
    }

    #sTwo {
        left: 550px;
    }

    #sSix {
        left: 430px;
    }

    #sThree {
        top: -1200px;
    }

    #sSeven {
        top: -500px;
    }

    #sFive {
        top: -250px;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome_text {
        order: 2;
        width: auto;
        margin: 0px;
        margin-top: 50px;
    }

    .logo_container {
        order: 1;
        margin: 0px;
        width: 270px;
    }

    footer {
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }

    .footer_container {
        flex-direction: column;
    }

    .footer_menu {
        flex-direction: column;
    }

    .partner {
      margin-right: auto;
      margin-left: auto;
      z-index: 2;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .program_info {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }
    .program_list {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }
    .program_descr {
        display: none;   
    }
}

@media screen and (max-width: 500px) {
    .text_left, .text_right, .pic_left, .pic_right {
        order: unset;
        width: 100%;
    }
    .text_left, .text_right {
        padding-top: 5px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
    }
    .close {
        right: 4px;
        top: 5px;
    }
    .art_img {
        width: 100%;
    }
    .welcome_text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .description_container {
      padding-left: 20px;
      padding-right: 20px;
    }
}
@media screen and (max-width: 400px) {
    #dgbrt-ticket-frame {
          height: 680px !important;
    }
}