body {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 2% 3%;
  background-color: #333;
  color: #fff;
  font-family: "Avenir Next Condensed", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

section {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  border-top: 1px solid #ddd;
  font-size: 0.8em;
  color: inherit;
  text-align: right;
  margin-top: 20px;
}

footer span,
footer a,
footer a:link,
footer a:active {
  margin: 2px 5px;
  text-decoration: none;
}

a,
a:link,
a:active {
  font-weight: 400;
  text-decoration: #888 underline;
  color: #fff;
}

a:hover {
  opacity: 0.5;
}

em {
  font-style: normal;
  font-weight: 400;
}

#logo {
  width: 400px;
  max-width: 600px;
  margin-top: 2em;
}

#kontakt {
  margin-top: 8em;
}

.title {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0em;
}

.darker {
  color: #666;
}
